{{!< layout}}

<section class="aui-page-panel-item">
    <div class="aui-group">
        <div id="main-content" class="aui-item">
            <div id="toolbar">
                Show issues from the past <input id="daysToSearch" type="number" min="1" max="90" value="30"/> days.
                <button id="refresh-button">Refresh</button>
            </div>
            <div id="main-content-table"></div>
        </div>
    </div>
</section>
