/* add-on styles */
.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}
.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}


/* styles added for Top Reporters table */

body.aui-page-hybrid {
  background-color: transparent;
  margin: 10px !important;
}

.top-reporters-table {
  max-width: 800px;
}

.top-reporters-table thead {
	background-color: #f5f5f5;
}
